/* Don't put borders around images */
.reveal section img {
    border: none;
    box-shadow: none;
}

/* Shrink callout text */
.reveal .colist td {
    font-size: 1.25rem;
}

/* Shrink admonitions and give them a border */
.reveal div.admonitionblock table {
    font-size: 1.8rem; 
    border: 3px solid grey;
}

/* General shrink class for small text */
.reveal .shrink {
    font-size: 1.5rem;
}

/* Shrink heading sizes */
.reveal h1 {
    font-size: 3em;
}
.reveal h2 {
    font-size: 1.5em;
}

/* Horizontal description lists should have the term centered */
.reveal td.hdlist1 {
    vertical-align: middle;
}

/* Block titles need to be smaller than h2s and red to stand out */
.reveal div.title {
    font-size:1.5rem;
    color: #d14;
}
