/* Don't put borders around images */
.reveal section img {
    border: none;
    box-shadow: none;
} 

/* Shrink callout text */
.reveal div.colist td { 
    font-size: 1.25rem;
}

/* Make the callout list left-aligned */
.reveal div.colist table {
    width: 90%;
} 
.reveal div.colist td:first-child {
    width: 1rem;
}

/* Shrink admonitions and give them a border */
.reveal div.admonitionblock table { 
    font-size: 1.8rem; 
    border: 3px solid grey;
} 

/* General shrink class for small text */
.reveal .shrink {
    font-size: 1.5rem;
} 

/* Shrink heading sizes */ 
.reveal h1 {
    font-size: 3em;
}
.reveal h2 {
    font-size: 1.5em;
} 

/* Horizontal description lists should have the term centered */
.reveal td.hdlist1 { 
    vertical-align: middle;
} 

/* Block titles need to be smaller than h2s and red to stand out */
.reveal div.title {
    font-size:1.5rem;
    color: #d14;
} 

/* inline code should have a grey background */
.reveal code {
    background: #E0E0E0;
}

/* hide certain things from view */
.hidden {
    display: none;
}

/* admonition icons should be in the middle */
td.icon {
    vertical-align: middle;
}

/* make syntax highlighted whitespace the same color as the code block background */
pre.rouge .w {
    background-color: #E0E0E0;
}

/* tighten up table spacing */
p.tableblock {
    margin: 0px;
}

/* make table titles bold and add margin at top */
table > caption.title {
    font-weight: bold;
    margin-top: 1.5rem;
}
