<!DOCTYPE html>
<html>
    <head>
        <title>Mesh Map</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                            
        <link rel="stylesheet"
              href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
              integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
              crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
                integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
                crossorigin=""></script>
    </head>
    <body>
        <div>Viewing contacts from {{ start }} to {{ end }}</div>
        <div id="mapid" style="width: 600px; height: 400px;"></div>
        <table>
            <tr>
                <th>Time</th>
                <th>Source Name</th>
                <th>Source Latitude</th>
                <th>Source Longitude</th>
                <th>Contact Name</th>
                <th>Contact Latitude</th>
                <th>Contact Longitude</th>
            </tr>
            {% for contact in contacts %}
            <tr>
                <td>{{ contact.time }}</td>
                <td>{{ contact.source_name }}</td>
                <td>{{ contact.source_lat }}</td>
                <td>{{ contact.source_lon }}</td>
                <td>{{ contact.contact_name }}</td>
                <td>{{ contact.contact_lat }}</td>
                <td>{{ contact.contact_lon }}</td>
            </tr>
            {% endfor %}
        </table>
        <script>
            // this should be filled with data from the templating engine
            const nodes = JSON.parse('{{ nodes_json | escapejs }}');

            // find the center of the nodes positions
            sum = [0.0, 0.0]
            numNodes = 0;
            Object.values(nodes).forEach(node => {
                sum = [sum[0] + node['lat'], sum[1] + node['lon']]
                numNodes += 1;
            });
            center = [sum[0]/numNodes, sum[1]/numNodes];

            // draw the map
            var mymap = L.map('mapid').setView(center, 17);
            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoicnlhbnRvbGJvb20iLCJhIjoiY2ttd2JxcHdvMDZrNzJ3bGF0ejl6eHIydiJ9.sywAAoq10vIQHVxeRf3Mig', {
                maxZoom: 18,
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                id: 'mapbox/streets-v11',
                tileSize: 512,
                zoomOffset: -1
            }).addTo(mymap);

            // put the nodes on the map
            Object.keys(nodes).forEach(name => {
                marker = L.marker(
                    [nodes[name]['lat'], nodes[name]['lon']]
                ).addTo(mymap);
                marker.bindPopup(name);
            });
        </script>
    </body>
</html>

